
pip==18.1
django==2.1.2
pytz==2018.5
bump2version==0.5.10
wheel==0.32.1
watchdog==0.9.0
flake8==3.5.0
tox==3.5.2
tox-lambda-autodiscovery==0.1.0
coverage==4.5.1
Sphinx==1.8.1
sphinx-rtd-theme==0.4.2
numpydoc==0.8.0
twine==1.12.1

pytest==3.8.2
pytest-sugar==0.9.1
pytest-cov==2.6.0
pytest-runner==4.2
